<div class="row"> 
   <div class="col-md-4 col-sm-6" 
        style="background-color: chartreuse;"> 
       <br> 
   </div> 
   <div class="col-md-4 col-sm-6" 
        style="background-color: black;"> 
       <br> 
   </div> 
   <!-- Sum of SM col exceeds 12 so if the screen 
        is small (less than 576px) the last column 
        will Automatically get aligned in the next row -->
   <div class="col-md-4 col-sm-6" 
        style="background-color: rebeccapurple;"> 
       <br> 
   </div> 
</div> 