<div class="page-container">
		<div class="side-bar">
		   <ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" routerLink="home">
					<ion-icon name="home"></ion-icon>
					</a>
				 </li>
			  <li class="nav-item">
				 <a class="nav-link active" routerLink="users">
					<ion-icon name="people"></ion-icon>
				 </a>
			  </li>
			  <li class="nav-item">
					<a class="nav-link" routerLink="new-user">
					   <ion-icon name="person-add"></ion-icon>
					</a>
				 </li>
			  <li class="nav-item">
				 <a class="nav-link active" routerLink="daily-entry">
					<ion-icon name="calendar"></ion-icon>
				 </a>
			  </li>			  
			  <li class="nav-item">
				 <a class="nav-link" routerLink="app-expenses">
					<ion-icon name="business"></ion-icon>
				 </a>
				 <a class="nav-link active" routerLink="daily-summary">
					<ion-icon name="clipboard"></ion-icon>
				 </a>
				 <a class="nav-link active" routerLink="single-entry">
					<ion-icon name="pricetags"></ion-icon>
				 </a>
			  </li>
		   </ul>
		</div>
		<div class="content-container">
		   <router-outlet></router-outlet>
		</div>
	 </div>